<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>@timestamp</timestamp>
                <version>@version</version>
                <logger>logger_name</logger>
                <thread>thread_name</thread>
                <level>level</level>
                <levelValue>level_value</levelValue>
                <message>message</message>
            </fieldNames>
            <outputPattern>%json</outputPattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="FILE" />
    </root>

</configuration>
